@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

header {
    background-color: #e61717;
    display: flex;
    justify-content: center;
    padding-top: 70px;
  }
  .header-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 86px;
  }

  .header-title h2 {
    font-weight: 700;
    color: #ffffff;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
  }

  .header-title {
    width: 485px;
    position: relative;
    left: 50px;
  }
  .header-pic img {
    width: 565px;
    height: 438px;
    transition: transform 0.3s ease-out;
  }
  .header-pic img:hover {
    transform: translate(30px);
  }
  .button {
    border: none;
    text-decoration: none;
    text-align: center;
    background-color: #472ce0;
    padding: 10px 24px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    transition: 0.3s;
  }
  .button:hover {
    background-image: linear-gradient(to left, #2ce03b, #e493b1);
  }

  body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 1280px;
  }
  .player-container {
    width: 1100px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
  }
  .players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px;
    
  }
  .player {
    width: 330px;
    padding: 15px;
    margin-bottom: 27px;
    box-shadow: 0px 0px 40px rgba(230, 46, 46, 0.733);
  }
  
  .player-image {
    width: 330px;
    height: 256px;
    box-shadow: #472ce0;
  }
  .player-image img {
    width: 330px;
    height: 256px;
    
  }
  .player-name h2 {
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 50px;
    width: 350px;
  }
  .player-details {
    width: 300px;
  }
  .player-details p {
    color: #f31471;
    font-size: 16px;
    line-height: 26px;
  }

  .vote-part {
    background-color: rgba(241, 102, 102, 0.219);
    margin-top: 70px;
    padding: 20px;
    color: rgb(36, 29, 29);
    font-size: 2em;
  }
  .vote-heading {
    text-align: center;
    letter-spacing: 2px;
  }
  .vote-heading h2 {
    font-weight: 700;
  }
  .vote-heading span {
    font-weight: 200;
  }
  .vote-heading p {
    font-size: 16px;
  }
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

   .form div p {
    margin: 0;
    width: 100%;
  } 
  
  .col{
      color: #e61717;
  }
  button {
    border: none;
    outline: none;
    display: block;
    background-color: rgba(0, 0, 0, 0.103);
    border-bottom: 2px solid #ddd;
    padding: 10px;
    width: 50%;
    margin: 2% 5%;
  }


  .world-cup {
    margin: 150px 0;
    width: 80%;
    
  }
  .background {
    position: relative;
    
  }
  
  .background img {
    width: 100%;
    display: flex;
    justify-content: center;
   
   
  }
  .worldcup-details {
    position: absolute;
    top: 0;
    color: #fd0404;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  .worldcup-details .title {
    display: grid;
    grid-template-columns: 2fr;
    justify-content: center;
  }
  .title h1 {
    line-height: 100px;
    text-align: center;
    margin: 0;
    margin-top: 40px;
  }
  #title {
    font-size: 6em;
  }
  #subtitle {
    font-size: 3em;
    text-align: center;
    margin: 0;
    
  }
  #line {
    margin-top: 40px;
  }
  .countdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    font-weight: 700;
    font-size: 2em;
    
  }
  .day,
  .year,
  .month,
  .hour {
    text-align: center;
    margin: 0;
    background-color: rgba(6, 131, 33, 0.719);
    border-radius: 10px;
    

  }

  footer {
    text-align: center;
    padding-bottom: 40px;
  }
  .footer-image img {
    width: 499px;
  }
  .icon {
      background: #ffffff;
    padding: 0 30px;
    color: #969bab;
  }

  @media only screen and (max-width: 500px) {
    
    html {
      font-size: 50%;
    }
    .container {
      width: 90%;
    }
    .player-container {
      width: 90%;
    }
    .header-part {
      display: flex;
      flex-direction: column;
      padding-bottom: 47px;
      align-items: flex-start;
      margin-left: 16px;
      width: 100%;
    }
    .header-title {
      width: 278px;
      height: 138px;
      left: 0px;
    }
    .header-title h2 {
      font-size: 36px;
      line-height: 50px;
    }
    .header-pic img {
      width: 329px;
      height: 259.17px;
      margin-top: 150px;
    }
    
    .players {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 24px;
    }
    
    .form {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
   
    .worldcup-details {
      color: black;
      position: relative;
    }
    .background img {
      display: none;
    }
    .title h1 {
      line-height: 25px;
      text-align: center;
      margin: 0;
      margin-top: 30px;
    }
    #title {
      font-size: 2em;
    }
    #subtitle {
      font-size: 1.5em;
      text-align: center;
      font-weight: 200;
    }
    #line {
      margin-top: 10px;
      font-size: 16px;
      margin-bottom: 5px;
    }
    .countdown {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      font-weight: 700;
      font-size: 2em;
    }
    .year,
    .day,
    .month,
    .hour {
      text-align: center;
      margin: 0;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.589);
      border-radius: 15px;
      padding:  10px;
    }
    
    footer {
      text-align: center;
      padding-bottom: 187px;
    }
    .footer-image img {
      width: 250px;
    }
    .icon {
      font-size: 32px;
    }
  }

  @media only screen and (min-width: 450px) and (max-width: 750px) {
    html {
      font-size: 75%;
    }
    .container {
      width: 90%;
    }
    .player-container {
      width: 98%;
    }
    .header-part {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 86px;
    }
    .header-title {
      width: 280px;
      height: 140px;
      left: 0px;
    }
    .header-title h2 {
      font-size: 55px;
      line-height: 50px;
    }
    .header-pic img {
      width: 329px;
      height: 250px;
      margin-top: 150px;
    }
    .players {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;
    }
    .title h1 {
      line-height: 45px;
      text-align: center;
      margin: 0;
      margin-top: 40px;
    }
    #title {
      font-size: 3em;
    }
    #subtitle {
      font-size: 2em;
      text-align: center;
      font-weight: 200;
    }
    #line {
      margin-top: 10px;
      font-size: 16px;
      margin-bottom: 60px;
    }
    .countdown {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      font-weight: 700;
      font-size: 1em;
    }
  }